body
{
    background:$navy;
    color:$navy;
}

a
{
    color:$lightblue;
    text-decoration: none;
    
    &:hover
    {
        text-decoration: underline;
    }
}

p
{
    margin-bottom:0.75em;

    &:last-child
    {
        margin-bottom: 0;
    }
}

h1
{
    @extend .alt-font;
    margin-bottom: 0.25em;
    font-weight: normal;
    font-size: 40px;
}

hr
{
    border-color:$navy;
    border-style:solid;
    border-width:1px 0 0 0;
}

tbody
{
    border-top: 0;
}

.button
{
    display: inline-block;
    background:$lightblue;
    overflow: hidden;
    color:white;
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    text-align: center;
    padding:0 12px;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
    border:0;
    font-weight: 700;
    min-width: 200px;
    box-sizing: border-box;
    transition: background-color 0.2s;

    &:hover
    {
        background:$blue;
        text-decoration: none;
    }
}

#container
{
    overflow: hidden;
    position: relative;
}
#page-wrapper
{
    background:white;
}

#logo
{
    display: block;
    padding-top:20px;
    float: left;
    position: relative;
    z-index: 1;

    img
    {
        width:120px;
        height: auto;
        display: block;
    }
}

#navigation
{
    background:$navy;
    border-bottom:5px solid $lightblue;

    & > div
    {
        border-bottom:5px solid white;
        height: 70px;

        & > div
        {
            width:100%;
            max-width: 980px;
            margin:0 auto;

            & > div
            {
                padding:0 20px;
            }
        }
    }

    #block-system-main-menu .content
    {
        font-weight: 600;

        & > ul
        {
            list-style:none;
            margin: 0;
            padding: 0;
            text-align: right;

            & > li
            {
                list-style:none;
                margin: 0;
                padding: 0;
                display: inline-block;
                position: relative;

                & > a
                {
                    display: block;
                    color:$lightblue;
                    text-decoration:none;
                    padding:45px 14px 9px 14px;
                    line-height:100%;
                    background-repeat:no-repeat;
                    background-position:center 10px;

                    &:hover
                    {
                        color:white;
                    }

                    &.chatham-kent
                    {
                        background-image:url(../images/icon-ck-white-small.png);

                        &:hover,
                        &:after
                        {
                            background-image:url(../images/icon-ck-blue-small.png);
                        }
                    }

                    &.sarnia-lambton
                    {
                        background-image:url(../images/icon-sl-white-small.png);
                        background-position: center 14px;

                        &:hover,
                        &:after
                        {
                            background-image:url(../images/icon-sl-blue-small.png);
                        }
                    }

                    &.windsor-essex
                    {
                        background-image:url(../images/icon-we-white-small.png);
                        background-position: center 14px;

                        &:hover,
                        &:after
                        {
                            background-image:url(../images/icon-we-blue-small.png);
                        }
                    }

                    &.belle-river
                    {
                        background-image:url(../images/icon-br-white-small.png);

                        &:hover,
                        &:after
                        {
                            background-image:url(../images/icon-br-blue-small.png);
                        }
                    }

                    &.pelee-island
                    {
                        background-image:url(../images/icon-pi-white-small.png);
                        background-position: center 14px;

                        &:hover,
                        &:after
                        {
                            background-image:url(../images/icon-pi-blue-small.png);
                        }
                    }

                    &:after
                    {
                        content:"";
                        display: block;
                        position: absolute;
                        left: -99999px;
                    }
                }

                & > ul
                {
                    position: absolute;
                    left: 0;
                    border:3px solid $navy;
                    border-top: 0;
                    background: white;
                    list-style:none;
                    margin:0;
                    padding: 0;
                    width: 147px;
                    z-index: 999;
                    top: -1000px;

                    & > li
                    {
                        list-style:none;
                        margin: 0;
                        padding: 0;
                        position: relative;

                        & > a
                        {
                            display: block;
                            color: $blue;
                            text-decoration:none;
                            line-height:100%;
                            padding:8px 28px 7px 6px;
                            text-align:left;

                            &:hover
                            {
                                background:$navy;
                                color:white;
                            }
                        }

                        &:after
                        {
                            content:"";
                            display: block;
                            border-bottom:1px solid #3f5b98;
                            position: absolute;
                            top: 100%;
                            left: 6px;
                            right: 6px;
                        }
                        &.last:after,
                        &:hover:after
                        {
                            display: none;
                        }
                    }
                }
                &:hover > ul,
                &:focus > ul
                {
                    top: 100%;
                }
            }
        }
    }
}

#secondary-navigation
{
    padding:16px 0;
    border-bottom: 5px solid $lightblue;

    & > div
    {
        width: 100%;
        max-width: 980px;
        margin:0 auto;

        & > div
        {
            padding:0 20px;

            & > div
            {
                position: relative;
            }
        }
    }


    #block-search-form
    {
        position: absolute;
        right:192px;
        padding-top:2px;

        #edit-search-block-form--2
        {
            display: block;
            line-height:30px;
            height: 30px;
            width: 145px;
            padding: 0 30px 0 15px;
            border-radius:15px;
            border:1px solid #d1d1d1;
            float: left;
            margin:0;
            box-shadow:none;
            box-sizing:inherit;
            font-size:inherit;
            font-weight: inherit;

            &:focus
            {
                border:1px solid $blue;
            }
        }

        .form-actions input
        {
            float: left;
            margin-left:-30px;
            border:0;
            font-size:0;
            color:transparent;
            display: block;
            width: 30px;
            height: 30px;
            background:transparent url(../images/icon-search.png) no-repeat left center;
            cursor:pointer;
        }
    }

    #block-menu-menu-social-menu
    {
        float: right;

        .content ul
        {
            list-style:none;
            margin: 0 0 0 4px;
            padding: 0;

            li
            {
                list-style:none;
                margin: 0 0 0 10px;
                padding: 0;
                display: inline-block;
                vertical-align: top;

                a
                {
                    display: block;
                    width: 35px;
                    height: 35px;
                    background-repeat:no-repeat;
                    background-position:left top;
                    font-size:0;
                    color:transparent;

                    &.fb
                    {
                        background-image:url(../images/icon-fb.png);

                        &:hover,
                        &:after
                        {
                            background-image:url(../images/icon-fb-hover.png);
                        }
                    }
                    &.tw
                    {
                        background-image:url(../images/icon-tw.png);

                        &:hover,
                        &:after
                        {
                            background-image:url(../images/icon-tw-hover.png);
                        }
                    }
                    &.in
                    {
                        background-image:url(../images/icon-in.png);

                        &:hover,
                        &:after
                        {
                            background-image:url(../images/icon-in-hover.png);
                        }
                    }
                    &.yt
                    {
                        background-image:url(../images/icon-yt.png);

                        &:hover,
                        &:after
                        {
                            background-image:url(../images/icon-yt-hover.png);
                        }
                    }

                    &:after
                    {
                        content:"";
                        display: block;
                        position: absolute;
                        left: -99999px;
                    }
                }
            }
        }
    }

    #block-block-1
    {
        color:$lightblue;
        font-weight:bold;
        clear: right;
        padding:45px 0 0 80px;
        overflow: hidden;
        font-size:20px;
        text-align: right;
    }
}

#header
{
    clear: both;
}

.region-content
{
    ul, ol
    {
        margin:0 0 0.8em 20px;
    }
}

#sidebar
{
    float: right;
    width: 230px;
    margin-left:25px;
    position: relative;
    color:$navy;

    .block-views
    {
        h2
        {
            text-transform: uppercase;
            font-size:1.35em;
        }
    }
}
.block--sidebar
{
    .content ul
    {
        list-style: none;
        margin: 0;

        li
        {
            list-style: none;
            display: block;
            border-bottom: 1px solid #0a1a3c;

            &:last-child
            {
                border-bottom: 0;
            }
        }
        a
        {
            display: block;
            color: $navy;
            background-repeat: no-repeat;
            background-position: 12px center;
            background-size: 55px auto;
            padding: 40px 0 40px 80px;
            text-decoration: none;
            font-weight: 700;

            &:hover
            {
                text-decoration: underline;
            }
        }
        .programs a
        {
            background-image: url(../images/icon-programs-large.png);
        }
        .donate a
        {
            background-image: url(../images/icon-donate-large.png);
        }
        .get-involved a
        {
            background-image: url(../images/icon-get-involved-large.png);
        }
        .events a
        {
            background-image: url(../images/icon-events-large.png);
        }
    }
}

#footer
{
    clear: both;
    border-top:5px solid $lightblue;
    color:white;
    text-align: center;
    background:$navy;
    position: relative;
    z-index: 1;

    & > div
    {
        border-top:5px solid white;

        & > div
        {
            background-image: -ms-radial-gradient(center top, ellipse farthest-side, $blue 0%, $navy 100%);
            background-image: -moz-radial-gradient(center top, ellipse farthest-side, $blue 0%, $navy 100%);
            background-image: -o-radial-gradient(center top, ellipse farthest-side, $blue 0%, $navy 100%);
            background-image: -webkit-gradient(radial, center top, 0, center top, 471, color-stop(0, $blue), color-stop(1, $navy));
            background-image: -webkit-radial-gradient(center top, ellipse farthest-side, $blue 0%, $navy 100%);
            background-image: radial-gradient(ellipse farthest-side at center top, $blue 0%, $navy 100%);

            min-height:205px;

            & > div
            {
                padding-bottom: 30px;
            }
        }
    }

    a
    {
        color:white;
        text-decoration: none;

        &:hover
        {
            text-decoration: underline;
        }
    }

    #block-menu-menu-footer-menu .content ul
    {
        list-style:none;
        margin: 0;
        padding: 30px 0 35px 0;
        text-align: center;
        font-size:0.8em;
        line-height:100%;
        margin: 0 30px 35px 30px;
        border-bottom: 1px solid #455d85;

        li
        {
            list-style:none;
            margin:10px 0;
            padding:0;
            display: inline-block;
            padding:0 14px;
            border-right:1px solid white;

            &.last
            {
                border-right:0;
            }

            a
            {
                display: block;
            }
        }
    }

    #copyright,
    #site-by-cci
    {
        font-size:0.7em;
        opacity: 0.5;
        display: inline-block;
    }
    #copyright
    {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid white;
    }
}
#main-wrapper
{
    padding:25px 0;
    background:white;

    & > div
    {
        width: 100%;
        max-width: 980px;
        margin: 0 auto;

        & > div
        {
            padding:0 20px;
        }
    }
    
    img
    {
        height: auto !important;
        max-width: 100%;
    }
    iframe
    {
        max-width: 100%;
    }
}

#first-widgets
{
    border-top:5px solid $lightblue;
    color:white;
    padding: 0;

    & > div
    {
        width: auto;
        max-width: none;
        margin: 0;

        & > div
        {
            background:$blue;
            position: relative;
            padding: 0;

            & > div
            {
                max-width:980px;
                width: 100%;
                margin:0 auto;
                padding:30px 0;

                & > div
                {
                    padding:0 20px;
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }
}

#second-widgets
{
    clear: both;
}
.block--locations-map
{
    float: left;
    width: 50%;

    .map
    {
        position: relative;

        img
        {
            display: block;
            width: 100%;
            height: auto;
        }
        a
        {
            font-size: 0;
            position: absolute;
            width: 16.5%;
            height: 15%;
        }
        .sl
        {
            left: 47%;
            top: 15%;
        }
        .ck
        {
            left: 54.5%;
            top: 42%;
        }
        .br
        {
            left: 40.7%;
            top: 53%;
            width: 12%;
        }
        .we
        {
            left: 24%;
            top: 50%;
        }
        .pi
        {
            left: 36%;
            top: 77.5%;
        }
    }
}
.block--news-teasers
{
    width: 50%;
    float: left;
    max-width: 520px;
    position: relative;

    & > div
    {
        padding: 30px;
    }
    h2
    {
        @extend .alt-font;
        text-align: left;
        font-size: 28px;
        padding-bottom:15px;
        background:url(../images/news-line.png) repeat-x left bottom;
        color:$navy;
    }
}

#sidebar
{
    #block-views-news-block,
    #block-views-news-block-belle-river,
    #block-views-news-block-chatham-kent,
    #block-views-news-block-pelee-island,
    #block-views-news-block-sarnia-lambton,
    #block-views-news-block-windsor-essex
    {
        & > div > h2
        {
            padding-bottom:5px;
            margin-bottom: 5px;
            border-bottom: 1px solid $navy;
        }
    }
}

ul.locations-dropdown
{
    position: absolute;
    display: inline-block;
    list-style:none;
    width: 210px;
    border-radius:6px;
    background:#304888;
    text-align: left;
    font-size:16px;
    overflow: hidden;
    z-index: 99;
    left: 50%;
    margin-left: -100px;
    max-height:40px;
    box-sizing: border-box;
    border: 1px solid white;
    text-shadow: none;

    &.open
    {
        z-index: 999;
    }

    li
    {
        list-style:none;
        margin:1px 0 0 0;
        position: relative;

        &:after
        {
            content:"";
            display: block;
            position: absolute;
            top: -1px;
            left: 0;
            right: 0;
            border-bottom:1px solid white;
        }

        &:first-child
        {
            margin-top: 0;
            margin-right:36px;
            display: block;

            &:after
            {
                display: none;
            }
        }
    }

    li a
    {
        display: block;
        color:white;
        text-decoration: none;
        line-height: 1;
        padding:11px 0 11px 36px;
        background-repeat:no-repeat;
        background-position:10px center;

        &:hover,
        &:focus
        {
            background-color:white;
            color:$blue;
            text-shadow: none;
            outline:none;
        }

        &:before
        {
            content:"";
            display: block;
            position: absolute;
            left: -99999px;
        }
    }
    .select-city a
    {
        padding-left: 18px;
    }

    a.open-btn
    {
        font-size:0;
        color:transparent;
        display: block;
        width: 36px;
        height: 38px;
        background:url(../images/arrow-down.png) no-repeat center center;
        position: absolute;
        top: 0;
        right: 0;

        &:hover, &:focus, &:before
        {
            background-color:white;
            background-image:url(../images/arrow-down-hover.png);
            outline:none;
        }

        &:before, &:after
        {
            content:"";
            display: block;
            position: absolute;
            left: -99999px;
        }
    }
    &.open a.open-btn,
    a.open-btn:after
    {
        background-image:url(../images/arrow-up.png);
        background-color: transparent;

        &:hover, &:focus, &:before
        {
            background-image:url(../images/arrow-up-hover.png);
        }
    }

    li.belle-river a
    {
        background-image:url(../images/icon-br-m.png);

        &:hover, &:focus, &:before
        {
            background-image:url(../images/icon-br-m-blue.png);
        }
    }
    li.chatham-kent a
    {
        background-image:url(../images/icon-ck-m.png);

        &:hover, &:focus, &:before
        {
            background-image:url(../images/icon-ck-m-blue.png);
        }
    }
    li.pelee-island a
    {
        background-image:url(../images/icon-pi-m.png);

        &:hover, &:focus, &:before
        {
            background-image:url(../images/icon-pi-m-blue.png);
        }
    }
    li.sarnia-lambton a
    {
        background-image:url(../images/icon-sl-m.png);

        &:hover, &:focus, &:before
        {
            background-image:url(../images/icon-sl-m-blue.png);
        }
    }
    li.windsor-essex a
    {
        background-image:url(../images/icon-we-m.png);

        &:hover, &:focus, &:before
        {
            background-image:url(../images/icon-we-m-blue.png);
        }
    }
}
div.locations-dropdown-placeholder
{
    height:47px;
}

ul.locations-dropdown.small
{
    font-size:13px;
    letter-spacing:-0.5px;
    border-radius:7px;
    width: 152px;
    margin-left:-77px;
    max-height: 26px;

    li:first-child
    {
        margin-right:20px;
    }

    li a
    {
        padding:5px 0 6px 25px;
        background-position:6px center;
        background-size: 14px auto;
    }

    a.open-btn
    {
        width: 20px;
        height: 24px;
        background-image:url(../images/arrow-down.png);
        background-position:5px center;
        background-size: 9px auto;

        &:hover, &:before, &:focus
        {
            background-image:url(../images/arrow-down-hover.png);
        }
    }
    &.open a.open-btn
    {
        background-image:url(../images/arrow-up.png);
        background-color: inherit;
    }
}


body.node-type-location
{
    #first-widgets
    {
        display: none;
    }
    .page-title
    {
        display: none;
    }
    #main-wrapper
    {
        @extend #first-widgets;
        display: block;
        border-top:0;
        background: url(../images/bg-pattern.png) repeat top left;
        background-size: auto 100%;

        & > div
        {
            border-top: 0;

            & > div
            {
                background: none;

                &:before
                {
                    display: none;
                }

                & > div
                {
                    position: relative;
                    z-index: 1;
                    max-width: 1140px;
                }
            }
        }
    }
}

.page-title h1
{
    @extend .alt-font;
    padding:35px 0;
    margin: 0;
    font-size:50px;
    line-height:120%;
    text-shadow:1px 1px 1px rgba(0,0,0,0.75);
    font-weight: normal;
    text-align: center;
}
#block-block-1 .content
{
    padding-left: 42px;
    background-repeat:no-repeat;
    background-position:left center;
}

.node-page,
.view-program .views-field-body
{
    color: #666666;

    p
    {
        line-height: 1.5;
        margin-bottom: 1.5em;

        &:last-child
        {
            margin-bottom: 0;
        }
    }
    h2
    {
        @extend .alt-font;
        color: $navy;
        font-size: 40px;
        font-weight: normal;
        margin-bottom: 0.5em;
    }
    h3
    {
        color: #29a0d7;
        font-size: 20px;
        margin-bottom: 0.5em;
    }
    hr
    {
        height: 0;
        border: 0;
        border-bottom: 1px solid #0a1a3c;
        margin: 2.5em 0;
    }
    strong
    {
        color: #29a0d7;
    }
}

body.location-inner
{
    #main-wrapper > div > div > div
    {
        position: relative;

        #content
        {
            position: relative;
            z-index: 1;
            min-height:300px;
        }
    }
}
body.node-type-location
{
    .node
    {
        text-align: center;
        font-size: 0;
    }
    
    .field-name-body
    {
        float: left;
        padding-bottom: 30px;
        width: 50%;
        text-align: left;
        font-size: 16px;
        margin-bottom: 40px;
        line-height: 1.5;

        a
        {
            color: white;
            text-decoration: underline;
        }
    }

    .field-name-field-get-involved,
    .field-name-field-donate,
    .field-name-field-contact-us,
    .field-name-field-sponsors,
    .field-name-field-programs,
    .field-name-field-events
    {
        display: inline-block;
        font-size: 16px;
        position: relative;
        width: 20%;
        text-align: center;
        background-repeat:no-repeat;
        background-position:center top;
        background-size: 100px auto;
        position: relative;
        padding-top: 115px;
        padding-bottom: 10px;
        margin-bottom: 30px;

        a
        {
            font-size: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    .field-name-field-get-involved
    {
        background-image:url(../images/icon-get-involved-large.png);
    }
    .field-name-field-donate
    {
        background-image:url(../images/icon-donate-large.png);
    }
    .field-name-field-contact-us
    {
        background-image:url(../images/icon-contact-us-large.png);
    }
    .field-name-field-sponsors
    {
        background-image:url(../images/icon-sponsors-large.png);
    }
    .field-name-field-programs
    {
        background-image:url(../images/icon-programs-large.png);
    }
    .field-name-field-events
    {
        background-image:url(../images/icon-events-large.png);
    }

    .field-name-field-image
    {
        &:after
        {
            content: "";
            display: block;
            clear: both;
        }
        img
        {
            float: right;
            margin-top: -30px;
            margin-bottom: 40px;
            width: 430px;
            height: auto;
        }
    }
}

#sidebar
{
    #block-block-3,
    #block-block-4,
    #block-block-6,
    #block-block-7,
    #block-block-8,
    #block-block-9,
    #block-block-10,
    #block-block-11,
    #block-block-12,
    #block-block-13,
    #block-block-14,
    #block-block-15,
    #block-block-16,
    #block-block-22,
    #block-block-23,
    #block-block-24,
    #block-block-25,
    #block-block-27,
    #block-block-28,
    #block-block-29,
    #block-block-30,
    #block-block-31
    {
        margin-bottom: 20px;

        ul.locations-dropdown
        {
            @extend ul.locations-dropdown.small;
        }

        p
        {
            display: none;
        }

        h2
        {
            text-transform: uppercase;
            color:$navy;
            font-size:1.1em;
            padding-top: 115px;
            background-repeat:no-repeat;
            background-position:center top;
            margin-bottom: 8px;
        }
    }
    #block-block-3,
    #block-block-12,
    #block-block-13,
    #block-block-14,
    #block-block-15,
    #block-block-16
    {
        h2
        {
            background-image:url(../images/icon-get-involved-m.png);
        }
    }
    #block-block-4,
    #block-block-7,
    #block-block-8,
    #block-block-9,
    #block-block-10,
    #block-block-11
    {
        h2
        {
            background-image:url(../images/icon-donate-m.png);
        }
    }
    #block-block-6,
    #block-block-22,
    #block-block-23,
    #block-block-24,
    #block-block-25
    {
        h2
        {
            background-image:url(../images/icon-events-m.png);
        }
    }
    #block-block-27,
    #block-block-28,
    #block-block-29,
    #block-block-30,
    #block-block-31
    {
        h2
        {
            background-image:url(../images/icon-programs-m.png);
        }
    }
}

body.location-inner #content
{
    overflow: hidden;
    width: 685px;
    width: calc(100% - 255px);
    float: left;
}

body.not-front
{
    .page-title
    {
        background: url(../images/bg-pattern.png) top left;
        background-size: auto 300%;
        position: relative;
        padding: 0;
        border-bottom: 5px solid $lightblue;

        & > div
        {
            border-top:5px solid white;
            border-bottom: 5px solid white;
            position: relative;

            .default-page-title-container
            {
                & > div
                {
                    max-width:980px;
                    width: 100%;
                    margin:0 auto;
                    padding:30px 0;

                    & > div
                    {
                        padding:0 20px;
                        position: relative;
                        z-index: 1;

                        h1
                        {
                            color:white;
                        }
                    }

                }
            }
        }
    }
}

#block-block-26
{
    display: none;
}


#gmap
{
    height: 400px;
}

body.page-node-76,
body.page-node-256,
body.page-node-257,
body.page-node-258,
body.page-node-264
{
    #main-wrapper>div>div>div
    {
        position: static;
        
        #content
        {
            position: static;
        }
    }
    #block-system-main
    {
        position: absolute;
        left: 0;
        width: 100%;
        border-style:solid;
        border-color:$blue;
        border-width:5px 0;
        background:white;
        z-index: 1000;
        margin-top: -250px;
        text-align: center;

        & > div
        {
            border-style:solid;
            border-color:white;
            border-width:4px 0;

            & > div
            {
                border-style:solid;
                border-color:$navy;
                border-width:6px 0;

                & > div
                {
                    width: 100%;
                    max-width: 940px;
                    margin:0 auto;
                    height: 300px;

                    & > div
                    {
                        padding: 30px 0;
                    }
                }
            }
        }

        h1
        {
            font-size:4em;
        }
        p
        {
            font-size:2.25em;
            font-weight: 700;
            margin-bottom: 0.5em;
        }
        a.button
        {
            font-size:0.6em;
        }
    }

    &:after
    {
        content:"";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:black;
        opacity:0.6;
        z-index: 999;
    }
}

ol.search-results .title a
{
    color:$blue;
    font-size:1.25em;
}

ul.primary
{
    margin-top: 0;
    border-bottom: 0;
}

.sr-only {
    @include sr-only;
}

.block--contact-form
{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $navy;

    h2
    {
        @extend .alt-font;
        font-weight: normal;
        margin-bottom: 0.5em;
        font-size: 36px;
    }
}

.block--page-title
{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    h1
    {
        color: white;
        padding: 65px 25px;
        font-size: 60px;
        line-height: 1.1;
    }
    .small
    {
        display: block;
        font-family: 'Montserrat';
        font-size: 36px;
        font-weight: 600;
    }
}
.block--page-title__donate
{
    background-image: url(../images/bg-title-donate.jpg);
}
.block--page-title__events
{
    background-image: url(../images/bg-title-events.jpg);
}
.block--page-title__news
{
    background-image: url(../images/bg-title-news.jpg);
}
.block--page-title__volunteer
{
    background-image: url(../images/bg-title-volunteer.jpg);
}
.region-page-title + .default-page-title-container
{
    display: none;
}
