body
{
    font-family:"pragmatica-web", sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:greyscale;
    font-weight:300;
}

.font-condensed
{
    font-family:"pragmatica-web-condensed", sans-serif;
    letter-spacing:-0.5px;
}
