@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Montserrat:400,400i,600,800&display=swap');

body
{
    font-family:"Montserrat", sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:greyscale;
    font-weight:400;
}

.alt-font
{
    font-family:"Arvo", serif;
}
