$navy: #1f386b;
$blue: #227eb1;
$lightblue: #40ace8;
$orange: #ea6b00;
$lightorange: #fc821c;

@mixin sr-only {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
}