.view-header-slideshow-location-
{
    .view-content
    {
        position: relative;
        background: $lightblue;
        padding-bottom: 5px;
        border-bottom: 5px solid white;
    }

    .views-row
    {
        .views-field-field-image
        {
            img
            {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .views-field-nothing
        {
            padding: 40px 30px;
            background:#c5eafc;
            color:$blue;

            & > div
            {
                max-width: 1070px;
                margin: 0 auto;
                padding-right: 30px;
                position: relative;
            }

            .field-title
            {
                font-weight: 600;
                font-size:32px;
            }

            .field-body
            {
                line-height:120%;
                padding-top:10px;

                a
                {
                    color: $blue;
                    text-decoration: underline;
                }
            }

            .field-link a
            {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 20px;
                background: url(../images/arrow-right-blue.png) no-repeat right center;
                font-size: 0;
            }
        }
    }
}

.block--news-teasers-all
{
    color:$navy;
    text-align: left;

    .views-row
    {
        padding:15px 0;
        min-height: 54px;
        background:url(../images/news-line.png) repeat-x left bottom;

        &:after
        {
            content: "";
            display: block;
            clear: both;
        }

        .views-field-created
        {
            float: left;
            color:white;
            width: 60px;
            height: 44px;
            line-height:0.9;
            padding-top:16px;
            text-align: center;
            background: $lightblue;
            font-weight: bold;
            border-radius: 100%;

            .month
            {
                font-size:12px;
                text-transform: uppercase;
                font-weight: 400;
            }
            .day
            {
                font-size: 20px;
            }
        }
        .views-field-title
        {
            padding-left:80px;

            a
            {
                color:$lightblue;
                text-decoration: none;
                font-weight: bold;
                font-size: 14px;
                display: block;

                &:hover
                {
                    text-decoration: underline;
                }
            }
        }
        .views-field-body
        {
            line-height: 120%;
            font-size:0.9em;
            padding-left: 80px;
        }
    }

    .view-footer
    {
        text-align: center;
        padding-top:15px;

        p
        {
            font-size:0.9em;
        }
    }
}
#sidebar .view-news
{
    .view-footer p
    {
        font-size:0.7em;
    }
}


.view-programs-list,
.view-program-subcategories
{
    max-width: 540px;

    .views-row
    {
        border-bottom:1px solid $navy;

        a
        {
            @extend .alt-font;
            color:$navy;
            text-decoration: none;
            font-size:32px;
            padding: 16px 0;
            display: block;
            line-height:100%;

            &:hover
            {
                color: $lightblue;
                text-decoration: underline;
            }
        }
    }
}


.view-program
{
    margin:0 auto;
    max-width:540px;
    color:$navy;
    padding-left: 20px;

    .back.button
    {
        float: right;
        clear: right;
        margin-bottom: 5px;
        position: relative;
        z-index: 1;
    }

    .views-field-title h2
    {
        @extend .alt-font;
        font-weight: normal;
        font-size: 26px;
        margin-bottom: 20px;
    }

    h3
    {
        font-size:1.25em;
    }

    .views-field-field-image
    {
        margin-bottom: 20px;

        img
        {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .views-field-field-available-at-locations
    {
        color:$orange;
        font-weight: bold;
    }
    .views-field-body
    {
        margin: 20px 0;

        ul
        {
            margin-left: 25px;

            li
            {
                margin-bottom:10px;
            }
        }
    }
}


.view-photo-galleries
{
    .views-row
    {
        float: left;
        margin:10px;
        width: 199px;

        .views-field-field-photos
        {
            a
            {
                display: block;
                padding:12px;
                box-shadow:0 0 5px rgba(0,0,0,0.5);
                background:white;

                img
                {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
        .views-field-title
        {
            a
            {
                display: block;
                color: $navy;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                padding:8px 0;
                font-weight: bold;
            }
        }
    }
}
.view-photo-gallery
{
    .views-row
    {
        float: left;
        margin:10px;
        width: 199px;

        .views-field-field-photos
        {
            a
            {
                display: block;
                padding:12px;
                box-shadow:0 0 5px rgba(0,0,0,0.5);
                background:white;

                img
                {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            .description
            {
                color:$navy;
                font-size:0.8em;
                padding: 6px;
                line-height:115%;
            }
        }
    }

    .view-footer
    {
        clear: both;
    }
}


.view-events,
.view-event,
.view-volunteer-opportunities,
.view-volunteer-opportunity,
.view-news-page
{
    max-width: 640px;

    .views-row
    {
        clear: both;
        padding: 25px 25px 25px 90px;
        margin-bottom: 30px;
        position: relative;
        min-height: 220px;
        background: #f2fafe;
        box-sizing: border-box;

        .views-field-field-date,
        .views-field-created
        {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 60px;
            background: url(../images/bg-pattern.png) repeat left top;
            background-size: auto 150%;
            box-sizing: border-box;

            & > div
            {
                @extend .alt-font;
                color:white;
                position: absolute;
                transform: rotate(-90deg);
                line-height: 60px;
                width: 200px;
                font-size: 26px;
                left: 0;
                transform-origin: top left;
                top: 220px;
                text-align: right;  
            }
        }
        &:hover
        {
            .views-field-field-date,
            .views-field-created
            {
                background-image: url(../images/bg-pattern-orange.png);
                background-size: auto 115%;
                background-repeat: repeat;
            }
        }

        .views-field-title
        {
            @extend .alt-font;
            font-size:32px;
            color:$blue;
            line-height: 100%;

            h2,
            h2 a {
                font-size: 32px;
            }

            a
            {
                color:$blue;
                text-decoration: none;

                &:hover
                {
                    text-decoration: underline;
                }
            }
        }

        .views-field-field-short-description,
        .views-field-body
        {
            color:#666666;
            padding: 20px 0;
            overflow: hidden;
        }

        .views-field-path
        {
            float: left;
        }

        .views-field-field-purchase-tickets-form
        {
            float: right;

            a
            {
                text-align: left;
                width: 130px;
                position: relative;
                padding-left:28px;

                &:before
                {
                    content:"";
                    display: block;
                    position: absolute;
                    left:9px;
                    top: 50%;
                    margin-top: -10px;
                    width: 13px;
                    height: 19px;
                    background:url(../images/tickets.png) no-repeat;
                }
                &:hover:before
                {
                    background-image:url(../images/tickets-hover.png);
                }

                &:after
                {
                    content:"";
                    display: block;
                    position: absolute;
                    right:13px;
                    top: 50%;
                    margin-top: -5px;
                    width: 9px;
                    height: 9px;
                    background:url(../images/arrow-right-s.png) no-repeat;
                }
                &:hover:after
                {
                    background-image:url(../images/arrow-right-s-hover.png);
                }
            }
        }
    }
}
.view-event .view-footer
{
    clear: both;
}

.view-volunteer-opportunities,
.view-volunteer-opportunity
{
    .views-row
    {
        .views-field-title,
        .views-field-body,
        .views-field-field-short-description,
        .views-field-path
        {
            padding-left: 0;
        }

        .views-field-field-related-programs
        {
            font-size: 14px;
            padding-bottom: 10px;

            ul, li
            {
                list-style:none;
                margin: 0;
                padding: 0;
            }

            a
            {
                color:$navy;
                text-decoration: none;

                &:hover
                {
                    text-decoration: underline;
                }
            }
        }
    }
}

.view-contact
{
    overflow: hidden;

    .views-row
    {
        margin-bottom: 40px;

        &:after
        {
            content: "";
            display: block;
            clear: both;
        }

        a
        {
            color:$lightblue;
            text-decoration: none;

            &:hover
            {
                text-decoration: underline;
            }
        }

        .views-field-title
        {
            @extend .alt-font;
            font-weight: normal;
            font-size: 36px;
            margin-bottom: 0.5em;
        }

        .views-field-field-address
        {
            margin-bottom: 1em;

            a
            {
                color: #666666;
            }
        }
        
        .views-field-field-phone,
        .views-field-field-fax
        {
            background-repeat:no-repeat;
            background-position:left center;
            margin-right: 5%;
            min-width: 30%;
            float: left;
            color: $lightblue;
            padding: 3px 0;
            
            & > div
            {
                padding-left: 30px;
            }
        }

        .views-field-field-phone
        {
            background-image:url(../images/phone.png);
        }
        .views-field-field-fax
        {
            background-image:url(../images/fax.png);
        }
        
        .views-field-nothing
        {
            float: right;
        }
    }
}
.view-contact-people
{
    .views-row
    {
        margin-bottom: 1em;
        padding-bottom: 1em;
        padding-left: 30px;
        border-bottom: 1px solid $navy;
        color:$orange;
        font-weight: bold;
        overflow: hidden;
    }
    
    a
    {
        color:$orange;
        text-decoration: none;
    }
    
    .views-field-field-phone,
    .views-field-field-fax,
    .views-field-field-email
    {
        background-repeat:no-repeat;
        background-position:left center;
        margin-right: 5%;
        min-width: 30%;
        float: left;
        
        & > div
        {
            padding-left: 30px;
        }
    }
    
    .views-field-field-phone
    {
        background-image:url(../images/phone.png);
    }
    .views-field-field-email
    {
        background-image:url(../images/email.png);
    }
    .views-field-field-fax
    {
        background-image:url(../images/fax.png);
        clear: left;
    }
}

.view-sponsors-gold,
.view-sponsors-silver,
.view-sponsors-bronze
{
    overflow: hidden;

    .views-row
    {
        float: left;
        text-align: center;
        color:$orange;
        margin-right: 10px;
        font-size:0.9em;

        .views-field-field-image
        {
            margin-bottom: 3px;
        }
    }
}
.view-sponsors-bronze .views-row
{
    span.field-content,
    a
    {
        color:$orange;
        font-weight: bold;
        width: 120px;
        margin:0 30px 30px 0;
        text-align: center;
        display: block;
    }

    a
    {
        text-decoration: none;

        &:hover
        {
            text-decoration: underline;
        }
    }
}
.block.sponsors-container
{
    & > div > h2
    {
        color:$blue;
        text-transform: uppercase;
        font-size: 2.75em;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
        margin-bottom: 10px;
    }
}
