.view-header-slideshow
{
    .view-content
    {
        position: relative;
        width: 100%;
        height: 480px;
        transition: height 0.4s;
    }

    .views-row
    {
        display: none;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 480px;
        transition: height 0.4s;

        &.active
        {
            z-index:2;
        }
        &.outbound
        {
            z-index: 1;
        }

        .views-field-field-image
        {
            border:1px solid #ccc;
            border-radius:2px;

            img
            {
                display: block;
                width: 100%;
                height: auto;
                box-shadow:0 13px 10px -10px rgba(0,0,0,0.5);
            }
        }

        .views-field-nothing
        {
            position: absolute;
            bottom: 25px;
            right: 0;
            width: 410px;
            padding: 25px;
            background:rgb(234,107,0);
            background:rgba(234,107,0,0.7);
            color:white;
            text-shadow:1px 1px 3px rgba(0,0,0,0.5);
            border-top-left-radius:9px;
            border-bottom-left-radius:9px;

            .field-title
            {
                text-transform: uppercase;
                font-weight: bold;
                font-size:1.4em;
            }

            .field-body
            {
                line-height:120%;
                padding-top:10px;
            }

            a
            {
                color:white;
                font-weight: bold;
                text-decoration: none;

                &:hover
                {
                    text-decoration: underline;
                }
            }
        }
    }

    .indicators
    {
        list-style:none;
        margin:0;
        padding: 8px 0;
        text-align: center;

        li
        {
            list-style:none;
            display: inline-block;
            margin: 0;
            padding: 0 5px;

            a
            {
                display: block;
                font-size:0;
                color:transparent;
                width: 0;
                height: 0;
                border:5px solid $lightblue;
                border-radius:5px;
                transition:border-color 0.5s;
            }

            &.active a
            {
                border-color:$navy;
            }
        }
    }
}


.view-news
{
    color:$navy;
    text-align: left;

    .views-row
    {
        padding:15px 0;
        background:url(../images/news-line.png) repeat-x left bottom;

        .views-field-created
        {
            float: left;
            color:white;
            width: 55px;
            height: 46px;
            line-height:100%;
            padding-top:13px;
            padding-right:3px;
            text-align: center;
            background: url(../images/news-date-bg.png) no-repeat left top;
            font-weight: bold;
            text-shadow: 1px 1px 0 rgba(0,0,0,0.35);

            .month
            {
                font-size:0.80em;
                text-transform: uppercase;
            }
        }
        .views-field-title
        {
            overflow: hidden;
            padding-left:8px;

            a
            {
                color:$lightblue;
                text-decoration: none;
                font-weight: bold;
                font-size:0.9em;

                &:hover
                {
                    text-decoration: underline;
                }
            }
        }
        .views-field-body
        {
            overflow: hidden;
            line-height: 120%;
            font-size:0.9em;
            padding-left: 8px;
        }
    }

    .view-footer
    {
        text-align: center;
        padding-top:15px;

        p
        {
            font-size:0.9em;
        }
    }
}
#sidebar .view-news
{
    .view-footer p
    {
        font-size:0.7em;
    }
}
#block-system-main .view-news-container
{
    padding-bottom: 160px;
}


.view-programs-list
{
    max-width: 540px;

    .views-row
    {
        border-bottom:1px solid $navy;

        &:hover
        {
            background:url(../images/icon-dot.png) no-repeat left 16px;
        }

        a
        {
            color:$navy;
            text-decoration: none;
            text-transform: uppercase;
            font-size:1.5em;
            font-weight: bold;
            padding: 15px 0 15px 40px;
            display: block;
            line-height:100%;
        }
    }
}


.view-program
{
    margin:0 auto;
    max-width:540px;
    color:$navy;
    padding-left: 20px;

    .back.button
    {
        float: right;
        clear: right;
        margin-bottom: 5px;
        position: relative;
        z-index: 1;
    }

    h2
    {
        text-transform: uppercase;
        padding-bottom: 10px;
        position: relative;
        padding:10px 0;

        &:before
        {
            content:"";
            display: block;
            position: absolute;
            left:-20px;
            top: 50%;
            margin-top: -21px;
            width: 42px;
            height: 42px;
            z-index: -1;
            background-repeat:no-repeat;
            background-position:left center;
        }
    }

    h3
    {
        font-size:1.25em;
    }

    .views-field-field-image
    {
        margin-bottom: 10px;
        padding-top: 10px;
        border-top: 1px solid $navy;

        .field-content
        {
            border:3px solid $lightblue;
        }

        img
        {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .views-field-field-available-at-locations
    {
        color:$orange;
        font-weight: bold;
    }
    .views-field-body
    {
        margin-top: 10px;
        margin-bottom: 15px;
        padding-top: 10px;
        border-top: 1px solid $navy;
        border-bottom: 1px solid $navy;

        ul
        {
            font-size:1.2em;
            font-weight: bold;
            overflow: hidden;
            margin:0;
            padding:0;

            li
            {
                width: 45%;
                float: left;
                margin-left: 5%;
            }
        }
    }
}
body.belle-river .view-program
{
    h2:before
    {
        background-image:url(../images/icon-br-semi.png);
    }

    .views-field-body ul, .views-field-body ul li
    {
        list-style:url(../images/icon-br-s-hover.png);
    }
}
body.chatham-kent .view-program
{
    h2:before
    {
        background-image:url(../images/icon-ck-semi.png);
    }

    .views-field-body ul
    {
        list-style:url(../images/icon-ck-s-hover.png);
    }
}
body.pelee-island .view-program
{
    h2:before
    {
        background-image:url(../images/icon-pi-semi.png);
    }

    .views-field-body ul
    {
        list-style:url(../images/icon-pi-s-hover.png);
    }
}
body.sarnia-lambton .view-program
{
    h2:before
    {
        background-image:url(../images/icon-sl-semi.png);
    }

    .views-field-body ul
    {
        list-style:url(../images/icon-sl-s-hover.png);
    }
}
body.windsor-essex .view-program
{
    h2:before
    {
        background-image:url(../images/icon-we-semi.png);
    }

    .views-field-body ul
    {
        list-style:url(../images/icon-we-s-hover.png);
    }
}


.view-photo-galleries
{
    .views-row
    {
        float: left;
        margin:10px;
        width: 199px;

        .views-field-field-photos
        {
            a
            {
                display: block;
                padding:12px;
                box-shadow:0 0 5px rgba(0,0,0,0.5);
                background:white;

                img
                {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
        .views-field-title
        {
            a
            {
                display: block;
                color: $navy;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                padding:8px 0;
                font-weight: bold;
            }
        }
    }
}
.view-photo-gallery
{
    .views-row
    {
        float: left;
        margin:10px;
        width: 199px;

        .views-field-field-photos
        {
            a
            {
                display: block;
                padding:12px;
                box-shadow:0 0 5px rgba(0,0,0,0.5);
                background:white;

                img
                {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            .description
            {
                color:$navy;
                font-size:0.8em;
                padding: 6px;
                line-height:115%;
            }
        }
    }
}


.view-events,
.view-event,
.view-volunteer-opportunities,
.view-volunteer-opportunity
{
    max-width: 550px;

    .views-row
    {
        clear: both;
        border-bottom: 1px solid $navy;
        overflow: hidden;
        padding-right:10px;
        padding-bottom: 15px;
        padding-top: 15px;

        &.views-row-last
        {
            border-bottom: 0;
        }

        .views-field-field-date
        {
            float: left;
            color:white;
            width: 55px;
            height: 46px;
            line-height:100%;
            padding-top:13px;
            padding-right:3px;
            text-align: center;
            background: url(../images/news-date-bg.png) no-repeat left top;
            font-weight: bold;
            text-shadow: 1px 1px 0 rgba(0,0,0,0.35);

            .month
            {
                font-size:0.80em;
                text-transform: uppercase;
            }
        }

        .views-field-title
        {
            padding-left:75px;
            text-transform: uppercase;
            font-size:3em;
            font-weight: bold;
            color:$lightblue;
            line-height: 100%;

            a
            {
                color:$lightblue;
                text-decoration: none;
            }
        }

        .views-field-field-short-description,
        .views-field-body
        {
            color:$navy;
            padding-left: 75px;
            padding-bottom: 10px;
        }

        .views-field-path
        {
            float: left;
            padding-left: 75px;

            a
            {
                text-align: left;
                width: 145px;
                position: relative;

                &:after
                {
                    content:"";
                    display: block;
                    position: absolute;
                    right:13px;
                    top: 50%;
                    margin-top: -5px;
                    width: 9px;
                    height: 9px;
                    background:url(../images/arrow-right-s.png) no-repeat;
                }
                &:hover:after
                {
                    background-image:url(../images/arrow-right-s-hover.png);
                }
            }
        }

        .views-field-field-purchase-tickets-form
        {
            float: right;

            a
            {
                text-align: left;
                width: 130px;
                position: relative;
                padding-left:28px;

                &:before
                {
                    content:"";
                    display: block;
                    position: absolute;
                    left:9px;
                    top: 50%;
                    margin-top: -10px;
                    width: 13px;
                    height: 19px;
                    background:url(../images/tickets.png) no-repeat;
                }
                &:hover:before
                {
                    background-image:url(../images/tickets-hover.png);
                }

                &:after
                {
                    content:"";
                    display: block;
                    position: absolute;
                    right:13px;
                    top: 50%;
                    margin-top: -5px;
                    width: 9px;
                    height: 9px;
                    background:url(../images/arrow-right-s.png) no-repeat;
                }
                &:hover:after
                {
                    background-image:url(../images/arrow-right-s-hover.png);
                }
            }
        }
    }
}

.view-volunteer-opportunities,
.view-volunteer-opportunity
{
    .views-row
    {
        .views-field-title,
        .views-field-body,
        .views-field-field-short-description,
        .views-field-path
        {
            padding-left: 0;
        }

        .views-field-field-related-programs
        {
            font-weight: bold;
            color:$navy;
            padding-bottom: 10px;

            ul, li
            {
                list-style:none;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.view-contact
{
    overflow: hidden;

    .views-row
    {
        float: left;
        width: 50%;
        margin-bottom: 0.75em;

        .views-field-field-address
        {
            padding-right: 20px;
        }

        a
        {
            color:$navy;
            text-decoration: none;
            font-size:1.5em;
            font-weight: bold;

            &.active
            {
                color:$orange;
            }
        }
    }
}
.view-contact-people
{
    clear: both;
    border-top:1px solid $navy;
    position: relative;
    height: 500px;
    color:$orange;
    font-weight: bold;

    .views-row
    {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        ul
        {
            list-style:none;
            padding: 0;
            margin: 0;

            li
            {
                list-style:none;
                margin: 0;
                padding: 0.75em 0;
                clear: both;
                border-bottom: 1px solid $navy;
                overflow: hidden;

                .field-name-field-name
                {
                    font-size:1.5em;
                    padding-left: 36px;
                    margin-bottom: 6px;
                    background:url(../images/icon-ck-orange-small.png) no-repeat left center;
                }
                .field-name-field-phone,
                .field-name-field-email
                {
                    width: 40%;
                    float: left;
                    background:no-repeat left center;
                }
                .field-name-field-phone
                {
                    padding-left: 24px;
                    background-image:url(../images/phone.png);
                }
                .field-name-field-email
                {
                    padding-left: 30px;
                    background-image:url(../images/email.png);
                }


                a
                {
                    color:$orange;
                    text-decoration: none;

                    &:hover
                    {
                        text-decoration: underline;
                    }
                }
            }

        }
    }
}

.view-sponsors-gold,
.view-sponsors-silver,
.view-sponsors-bronze
{
    overflow: hidden;

    .views-row
    {
        float: left;
        text-align: center;
        color:$orange;
        margin-right: 10px;
        font-size:0.9em;

        .views-field-field-image
        {
            margin-bottom: 3px;
        }
    }
}
.view-sponsors-bronze .views-row
{
    span.field-content,
    a
    {
        color:$orange;
        font-weight: bold;
        width: 120px;
        margin:0 30px 30px 0;
        text-align: center;
        display: block;
    }

    a
    {
        text-decoration: none;

        &:hover
        {
            text-decoration: underline;
        }
    }
}
.block.sponsors-container
{
    & > div > h2
    {
        color:$lightblue;
        text-transform: uppercase;
        font-size: 2.75em;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
        margin-bottom: 10px;
    }
}
